@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');


:root {
  --bg-color-yellow: #fabd22;
  --bg-color-blue: #158cc3;
  --bg-color-black: #000000;
}

html {
  box-sizing: border-box;
}
.background{
  height: 100vh;
 background-color: var(--bg-color-black);
 opacity: 1;
 background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 19px ), repeating-linear-gradient( #bcbcbc55, #bcbcbc );

}
.mapbackground{
  background-color: var(--bg-color-blue);
  /* color: #d3ddef; */
  height: 100vh;
}

.promodebackground {
  background-color: var(--bg-color-yellow);
  display: flex;
  justify-content: center;
}

/* .promoderow {
  width: 100%;
} */

#promodecard{
  width: 18rem;
}

#promodecard img {
  height: 200px;
  width: 18rem;
}

.promodeimg {
  width: auto;
  display: flex;
  justify-content: center;
  border: 0px;
  /* padding-top: 5px; */
}

/* #promodecard {
  background-color: #be0075;
} */

#promodecard .card-body a{
  background-color: var(--bg-color-black);
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: larger;
  font-family: 'Orbitron', sans-serif;
  border: #fabd22;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homebuttons {
  /* background-color: #fabd22;
  color: #fabd22; */
  width: auto;
  
}

/* #capitaloption{
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  color: white;
  font-style: normal;
}
.capitaloption{
  background-color: rgb(89, 103, 234);
  border-radius: 25px;
  cursor: pointer;
  
} */

body h1, body h2, body h3 {
  color:rgb(249, 252, 255);
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-style: oblique;
 
  }

#flagimg{
  font-size: 100px;
  cursor: pointer;
}



#flagimgChoice{
  font-size: 130px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}


.footer {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color:rgb(253, 254, 255);
  margin-left: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
 
}


.promapclicktext h1 {
  width: auto;
  padding: 0.6em 1.5em;
  color: white;
  background-color: var(--bg-color-black);
  font-size: 1.8em;
  font-weight: 200;
  border: solid 5px #fabd22  ;
  border-radius: 50px;
}
.mapclicktext h1 {
  width: auto;
  padding: 0.6em 1.5em;
  color: black;
  background-color: var(--bg-color-yellow);
  font-size: 1.8em;
  font-weight: 500;
  border: solid 5px #fabd22  ;
  border-radius: 50px;
}

@media (max-width:568px) {
  .mapclicktext h1 {
    width: auto;
    padding: 0.6em 1.5em;
    color: black;
    background-color: var(--bg-color-yellow);
    font-size: 1.8em;
    font-weight: 200;
    font-size: 24px;
    border: solid 5px #fabd22  ;
    border-radius: 50px;
  }

  .mapclicktext div h3 {
    padding: 0.3em 1em;
    /* color: #158cce;
    background-color: #fabd22; */
    color: white;
    background-color: black;
    font-weight: 200;
    font-size: 16px;
    border: solid 5px #fabd22;
    border-radius: 50px;
  }


  
}
.mapclicktext div h3 {
  padding: 0.3em 1em;
  /* color: #158cce;
  background-color: #fabd22; */
  color: white;
  background-color: black;
  font-weight: 500;
  border: solid 5px #fabd22;
  border-radius: 50px;
}

@media (max-width:568px) {
  .promapclicktext h1 {
    width: auto;
    padding: 0.6em 1.5em;
    color: white;
    background-color: var(--bg-color-black);
    font-size: 1.8em;
    font-weight: 200;
    border: solid 5px #fabd22  ;
    border-radius: 50px;
    font-size: 25px;
  }
}

 
.continentbtn {
  width: 500px;
  padding: 1rem 3rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--bg-color-black);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #fabd22;
  border-radius: 15px;
}

#continenthomebtn{
  background-color: var(--bg-color-blue);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #158cc3;
  border-radius: 50px;
}

#continenthomebtn:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}

#indexhomebtn {
  background-color: var(--bg-color-yellow);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #fabd22;
  border-radius: 50px;
}

@media (max-width:568px) {
  #indexhomebtn {
    margin-left: 70px;
    background-color: var(--bg-color-yellow);
    font-size: 1.6rem;
    font-weight: 500;
    color: #000000;
    border: solid 5px #fabd22;
    border-radius: 50px;
  }
  
}

#indexhomebtn:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}
#homebtn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}
.ag-canvas {
  
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;
  margin-top: -50px;
} 
.ag-canvas_svg {
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 0.5rem;
}
.ag-canvas_svg path {

  fill: #fabd22;
  fill-opacity: 1;
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 1.5;
  transition: 0.5s;
  cursor: pointer;
  stroke-linecap: round;
  stroke-linejoin: round;
 

}


.animate-dash {
  
  stroke-dasharray: 5;
  animation: dash 2s linear infinite;

  
}

@keyframes dash {
  to {
      stroke-dashoffset: -30;
  }
}

/* #US {
  fill: #00e0bb;
  stroke-width: 0.5;
  transition: 0.5s;
  cursor: pointer;
  
}  */

@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 9rem);
    margin-left: 0;
  }
}


/* /////////////////////// Index Page //////////////////// */

.indexbackground{
  background-color: var(--bg-color-blue);
}

.indexcard {
  background-color: var(--bg-color-yellow);
  color: #fabd22;
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.indexbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 8rem;
  background-color: var(--bg-color-yellow);
  color: black;
  border-radius: 15px;
  gap: 5px;
  font-weight: 800;
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width:568px) {
  .indexbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 6rem;
    background-color: var(--bg-color-yellow);
    color: black;
    border-radius: 15px;
    gap: 5px;
    font-weight: 800;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    text-decoration: none;
  }
  
  
}

.indexclick h1 {
  width: auto;
  padding: 0.6em 1.5em;
  color: white;
  background-color: black;
  font-size: 1.8em;
  font-weight: 500;
  border: solid 5px #fabd22  ;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width:568px) {
  .indexclick h1 {
    width: auto;
    padding: 0.6em 1.5em;
    color: white;
    background-color: black;
    font-size: 1.8em;
    font-weight: 500;
    font-size: 24px;
    border: solid 5px #fabd22  ;
    border-radius: 50px;
    cursor: pointer;
  }
  
}


/* //////////// Option Mode ////////// */

.optionbackground {
  background-color: var(--bg-color-yellow);
  height: 100vh;
}

#optionhomebtn {
  background-color: var(--bg-color-blue);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #158cc3;
  border-radius: 50px;
}

#optionhomebtn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}

.optionclicktext h1{
  width: auto;
  padding: 0.6em 1.5em;
  color: white;
  background-color: var(--bg-color-black);
  font-size: 1.8em;
  font-weight: 500;
  border: solid 5px #fabd22  ;
  border-radius: 50px;
}



.optionclicktext h3{
  padding: 0.3em 1em;
  /* color: #158cce;
  background-color: #fabd22; */
  color: white;
  background-color: var(--bg-color-black);
  font-weight: 500;
  border: solid 5px var(--bg-color-black);
  border-radius: 50px;
}

@media (max-width:568px) {
  .optionclicktext h1{
    width: auto;
    padding: 0.6em 1.5em;
    color: white;
    background-color: var(--bg-color-black);
    font-size: 1.8em;
    font-weight: 200;
    border: solid 5px #fabd22  ;
    border-radius: 50px;
    font-size: 24px;
  }

  .optionclicktext h3{
    margin-top: 0.5em;
    padding: 0.3em 1em;
    /* color: #158cce;
    background-color: #fabd22; */
    color: white;
    background-color: var(--bg-color-black);
    font-weight: 200;
    border: solid 5px var(--bg-color-black);
    border-radius: 50px;
    font-size: 18px;
  }
  
}



.chooseflag{
  font-size: 180px;
  border-radius: 25px;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:568px) {
  .chooseflag{
    font-size: 100px;
    border-radius: 25px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

.indexbtn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}


/* //////////// Promode 1 ////////// */

.promode1background{
  background-color: #ec7699;
}

#promode1homebtn{
  background-color: var(--bg-color-yellow);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #fabd22;
  border-radius: 50px;
}

#promode1homebtn:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}

.promodeclicktext h1 {
  width: auto;
  padding: 0.1em 1.5em;
  color: white;
  background-color: #158cc3;
  font-size: 1em;
  font-weight: 500;
  /* border: solid 5px #fabd22  ; */
  border-radius: 50px;
}

@media (max-width:568px) {
  .promodeclicktext h1 {
    width: auto;
    padding: 0.1em 1.5em;
    color: white;
    background-color: #158cc3;
    font-size: 1em;
    font-weight: 300;
    font-size: 22px;
    /* border: solid 5px #fabd22  ; */
    border-radius: 50px;
  }
  
}
.promodeclicktext div h3 {
  padding: 0.3em 1em;
  /* color: #158cce;
  background-color: #fabd22; */
  color: white;
  background-color: #158cc3;
  font-weight: 500;
  border: solid 5px fabd22;
  border-radius: 50px;
}

/* //////////// Promode 1 ////////// */

.capitalsbackground{
  background-color: var(--bg-color-blue);
}

#capitalshomebtn{
  background-color: var(--bg-color-yellow);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #fabd22;
  border-radius: 50px;
}

#capitalshomebtn:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */

}



.capitalsclicktext h1 {
  /* padding: 0.3em 1em;
  color: black;
  background-color: #fabd22;
  font-size: 1.8em;
  font-weight: 500;
  border: solid 5px #fabd22  ;
  border-radius: 50px; */
  width: auto;
  padding: 0.1em 1.5em;
  color: black;
  background-color: var(--bg-color-yellow);
  font-size: 1em;
  font-weight: 500;
  border: solid 5px #fabd22  ;
  border-radius: 50px;
}
.capitalsclicktext div h3 {
  padding: 0.3em 1em;
  /* color: #158cce;
  background-color: #fabd22; */
  color: white;
  background-color: black;
  font-weight: 200;
  border: solid 5px #fabd22;
  border-radius: 50px;
}


@media (max-width:568px) {
  #capitalshomebtn{
    margin-left: 100px;
  }

  .capitalsclicktext div h3 {
    padding: 0.3em 1em;
    /* color: #158cce;
    background-color: #fabd22; */
    color: white;
    background-color: black;
    font-weight: 150;
    border: solid 5px #fabd22;
    border-radius: 50px;
    font-size: 14px;
  }
  
}

/* ///////// Choose Options//// */



#capitaloption{
  box-sizing: border-box;
  background-color: var(--bg-color-yellow);
  color: black;
  font-size: 40px;
  border-radius: 15px;
  padding: 0px;
  margin: 15px 0px;
  padding: 15px 0px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:568px) {
  #capitaloption{
  height: 100px;
  box-sizing: border-box;
  background-color: var(--bg-color-yellow);
  color: black;
  font-size: 16px;
  border-radius: 15px;
  padding: 0px;
  margin: 15px 10px;
  padding: 15px 0px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
}


/* ////////////// Game End Page ////////////// */

.gameendbackground{
  height: 100vh;
  background-color: #158cc3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameendbox{
  border: solid whitesmoke;
  border-radius: 15px;
  background-color: var(--bg-color-yellow);
  
}

.gameovertext{
   color: black;
}

#endscore, .lead {
  color: #000000;
  font-weight: 500;
  font-size: larger;
}

.gameendbox p {
  font-weight: 500;
  font-size: larger;
}

#gameendhomebtn{
  background-color: var(--bg-color-blue);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  border: solid 5px #158cc3;
  border-radius: 50px;
}

#gameendhomebtn:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* This creates a shadow effect */
}
